.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-bottom: 3rem;
}

.x-large {
  font-size: 3.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

@media screen and (max-width: 767px) {
  .x-large {
    font-size: 1.7rem;
    line-height: 1;
    margin-bottom: 0.5rem;
  }
}

.large {
  font-size: 2.2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .large {
    font-size: 1.3rem;
    line-height: 1;
    margin-bottom: 0.5rem;
  }
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 767px) {
  .lead {
    font-size: 0.8rem;
    line-height: 1;
    margin-bottom: 0.5rem;
  }
}

.tiny {
  font-size: 0.5rem;
  margin-bottom: 1rem;
}

.text-primary {
  color: #202864;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

.under-deco {
  -webkit-text-decoration: underline #202864;
          text-decoration: underline #202864;
}

.btn {
  display: inline-block;
  background: #f4f4f4;
  color: #333;
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn-primary {
  background-color: #202864;
  color: #fff;
}

.btn-primary:hover {
  background: #263077;
}

.btn-dark {
  background-color: #343a40;
  color: #fff;
}

.btn-dark:hover {
  background: #3f474e;
}

.btn:hover {
  background: #626d78;
  color: #fff;
}

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(216, 215, 215, 0.4);
}

.section-title {
  font-size: 2.5rem;
  display: block;
  padding-bottom: 3.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

.grad {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#a9b4ee), color-stop(#b4bdf2), color-stop(#bec6f6), color-stop(#c9d0f9), to(#d3d9fd));
  background-image: linear-gradient(to right top, #a9b4ee, #b4bdf2, #bec6f6, #c9d0f9, #d3d9fd);
}

.presentations {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.presentation {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#360033), color-stop(51%, #0b8793), to(#360033));
  background: linear-gradient(to right, #360033 0%, #0b8793 51%, #360033 100%);
  overflow: hidden;
}

.presentation::after {
  content: '';
  position: absolute;
  display: block;
  background: inherit;
  opacity: 0.9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
          transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
  -webkit-transition: -webkit-transform 3s cubic-bezier(0.2, 1, 0.3, 1);
  transition: -webkit-transform 3s cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 3s cubic-bezier(0.2, 1, 0.3, 1);
}

.presentation:hover:after {
  -webkit-transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
          transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
}

.presentation:hover .presentation-image {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.presentation:hover .presentation-text {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.presentation-image {
  height: auto;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  display: block;
  -webkit-transition: -webkit-transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: -webkit-transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
}

.presentation-image:before {
  content: '';
  display: block;
  padding-top: 75%;
  overflow: hidden;
}

.presentation-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 0;
}

.presentation-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  text-align: center;
  z-index: 1;
  color: #fff;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  -webkit-transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.presentation-text-wrap {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.presentation-text-title {
  font-size: 2rem;
  padding: 1rem 1.5rem;
  margin: 5px 0 0 0;
}

.presentation-text-category {
  text-transform: uppercase;
  font-size: 1.2rem;
  opacity: 0.7;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .presentation-text-title {
    font-size: 1.1rem;
    padding: 0.5rem 0.5rem;
    line-height: 1.1;
  }
  .presentation-text-category {
    font-size: 0.6rem;
    line-height: 1.2;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

a {
  text-decoration: none;
  color: #202864;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.navbar {
  font-size: 1.1rem;
  background-image: linear-gradient(260deg, #202864 0%, #970303 100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.navbar .main-nav {
  list-style-type: none;
  display: none;
}

.navbar .nav-links,
.navbar .logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.navbar .main-nav li {
  text-align: center;
  margin: 15px auto;
}

.navbar .logo {
  display: inline-block;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar .navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.navbar .active {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .navbar .main-nav li {
    margin: 0;
  }
  .navbar .nav-links {
    margin-left: 40px;
  }
  .navbar .logo {
    margin-top: 0;
  }
  .navbar .navbar-toggle {
    display: none;
  }
  .navbar .logo:hover,
  .navbar .nav-links:hover {
    color: white;
  }
}

/* Langing Page Styling */
.landing {
  position: relative;
  background: url("../img/adventure-beauty-blonde-hair-725255.jpg") no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: #333;
  position: relative;
  width: 60%;
  top: 30%;
  left: 18%;
}

#testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: auto;
}

#testimonials .containers {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 1rem;
  width: 30%;
  height: auto;
}

#testimonials .containers p {
  padding-top: 1.3rem;
}

#testimonials .containers::after {
  content: "";
  clear: both;
  display: table;
}

#testimonials .containers img {
  border-radius: 65%;
  float: left;
  display: inline;
  margin-right: 1em;
  width: 6rem;
  height: 4.5rem;
}

#testimonials .containers span {
  font-size: 20px;
  margin-right: 1rem;
}

#testimonials .containers .test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#testimonials .containers:hover {
  -webkit-box-shadow: -7px -11px 98px 34px #172064;
  box-shadow: -7px -11px 98px 34px #252c64;
}

@media screen and (max-width: 768px) {
  .landing-inner {
    top: 8%;
  }
  #testimonials {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  #testimonials .containers {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    height: auto;
    margin: 0.3rem;
  }
  #testimonials .containers img {
    border-radius: 65%;
    float: left;
    display: inline;
    margin-right: 1em;
    width: 6rem;
    height: 4.5rem;
  }
  #testimonials .containers span {
    font-size: 20px;
    margin-right: 1rem;
  }
}

/* Landing Page Styling End*/
/*Agency Page Styling*/
.agency-landing {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#b8bfe9), color-stop(#c2c8ee), color-stop(#ccd1f4), color-stop(#d6dbf9), to(#e0e4ff));
  background-image: linear-gradient(to right top, #b8bfe9, #c2c8ee, #ccd1f4, #d6dbf9, #e0e4ff);
  position: relative;
  height: 100vh;
}

.agency-landing-inner {
  color: #333;
  position: relative;
  width: 60%;
  top: 20%;
  left: 18%;
}

.agency-container {
  width: 90vw;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

#work {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#b8bfe9), color-stop(#c2c8ee), color-stop(#ccd1f4), color-stop(#d6dbf9), to(#e0e4ff));
  background-image: linear-gradient(to right top, #b8bfe9, #c2c8ee, #ccd1f4, #d6dbf9, #e0e4ff);
}

.workers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
}

.worker {
  position: relative;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#360033), color-stop(51%, #0b8793), to(#360033));
  background: linear-gradient(to right, #360033 0%, #0b8793 51%, #360033 100%);
  width: 25vw;
  height: 60vh;
}

.worker::after {
  content: '';
  position: absolute;
  display: block;
  background: inherit;
  opacity: 0.5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
          transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
  -webkit-transition: -webkit-transform 3s cubic-bezier(0.2, 1, 0.3, 1);
  transition: -webkit-transform 3s cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 3s cubic-bezier(0.2, 1, 0.3, 1);
}

.worker:hover:after {
  -webkit-transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
          transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
}

.worker:hover .worker-image {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.worker:hover .worker-text {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.worker-image {
  height: auto;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  display: block;
  -webkit-transition: -webkit-transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: -webkit-transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
}

.worker-image:before {
  content: '';
  display: block;
  padding-top: 75%;
  overflow: hidden;
}

.worker-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  line-height: 0;
}

.worker-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  text-align: center;
  z-index: 1;
  color: #f4f4f4;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  -webkit-transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.worker-text-wrap {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.worker-text-title {
  font-size: 2rem;
  padding: 0 1rem;
  margin: 5px 0 0 0;
}

.worker-text-category {
  text-transform: uppercase;
  font-size: 1.2rem;
  opacity: 0.7;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .agency-landing {
    height: 100vh;
  }
  .agency-landing-inner {
    top: 5%;
  }
  .workers {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
  .agency-container {
    width: 100vw;
    padding: 0 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .worker {
    width: 100%;
    height: 60vh;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .agency-landing {
    height: 100vh;
  }
  .agency-landing-inner {
    top: 5%;
    line-height: 1;
  }
  .workers {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
  .agency-container {
    width: 100vw;
    height: auto;
    padding: 0 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

/*Agency Page Styling End*/
/*Experience Page Styling*/
.experience {
  position: relative;
  height: 50vh;
  background: -webkit-gradient(linear, left bottom, right top, from(#191b24), color-stop(#c2c8ee), color-stop(#4c4e57), color-stop(#d6dbf9), to(#e0e4ff));
  background: linear-gradient(to right top, #191b24, #c2c8ee, #4c4e57, #d6dbf9, #e0e4ff);
  color: #f4f4f4;
}

.experience h1 {
  margin-top: 6rem;
}

/*Experience Page Styling End*/
/*Contact Page Styling*/
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #f4f4f4;
  padding: 25px;
  margin: 50px 0;
}

#contact h3 {
  color: #970303;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width: 100%;
  border: 1px solid #CCC;
  background: #f4f4f4;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#360033), color-stop(51%, #0b8793), to(#360033));
  background: linear-gradient(to right, #360033 0%, #0b8793 51%, #360033 100%);
  color: #f4f4f4;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 1rem;
}

#contact button[type="submit"]:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, #360033), color-stop(55%, #0b8793), color-stop(95%, #360033));
  background: linear-gradient(to right, #360033 5%, #0b8793 55%, #360033 95%);
  -webkit-transition: background 0.8s ease-in-out;
  -webkit-transition: background-color 0.8s ease-in-out;
  transition: background-color 0.8s ease-in-out;
}

#contact button[type="submit"]:active {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus, #contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #contact {
    margin-bottom: 8rem;
  }
}

/*Contact Page Styling End*/
/*Footer Styling*/
#main-footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-bottom: 0.5rem;
  height: 6rem;
  background-image: linear-gradient(260deg, #970303 0%, #202864 100%);
  width: 100%;
}

#main-footer .footer-content {
  width: 20rem;
  color: #f4f4f4;
}

#main-footer .footer-content .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-footer .footer-content .social a {
  color: #bfbfbf;
}

#main-footer .footer-content .social a:hover {
  color: #202864;
}

#main-footer .footer-content .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main-footer .footer-content .copyright a {
  color: #202864;
  padding-right: 0.5rem;
}

#main-footer .footer-content .copyright a:hover {
  color: #f4f4f4;
}

/* Footer Styling End */
/*# sourceMappingURL=style.css.map */